<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>内容確認</h1>
  <div>  
    <div>
      本文:
      <p>
        <%=@message%>
      </p>
    </div>    
  </div>
<form action="/" method="GET">
<input type="submit" value="もどる">
</form>
</body>
</html>
