<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index Page</title>
</head>
<body>
	<h1>Index(Target)</h1>
	<p>@@@@@</p>
	<script type="text/javascript" language="javascript">
</script>
	<form method="POST" action="/form">
		<input type="text" name="input1" size="80">
		<input type="submit">
	</form>
</body>
</html>

