<!DOCTYPE html>
<html>
<head>
  <meta charaset="UTF-8">
</head>

<body>

<h1>MEMO長？</h1>
<form action="confirm" method="POST">
  <div>
    MESSAGE:
    <textarea name="message" row="5"> </textarea>
  </div>
<div>
  <input type="submit" value="送信する">
</div>
</form>

</body>
</html>
