<ul>
   <li>ここにエントリが表示される</li>
   <li><%= @hello %></li>
</ul>
<ul>
   <form method="POST" action="/form">
       <input type="test" name="input1" value="">
       <input type="submit" value="送信">
   </form>
</ul>

