<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index Page</title>
</head>
<body>
	<h1>Index(Attack)</h1>
	<p><%= Time.now %></p>
	<form method="POST" action="/form">
		<input type="text" name="input1">
		<input type="submit">
	</form>
</body>
</html>

