<ul>
    <li>Welcome to toy-chat program, please enter Guess name for Login.</li>
</ul>
<ul>
    <form method="POST" action="/login">
        <input type="test" name="uname" value="">
        <input type="submit" value="submit">
    </form>
</ul>

